<div class="container mt-4">
  <div class="d-flex flex-column rounded shadow-sm p-3 bg-white mt-3">
    <!-- Row: avatar + name left, icon right -->

    <div class="d-flex align-items-center justify-content-between mb-3">
      <div class="d-flex align-items-center gap-2">
        <img
          class="rounded-circle img-fluid"
          width="50"
          height="50"
          [src]="group_post.user_profile_image_url"
          alt="profile-img"
        />
        <div>
          <h3 class="mb-0">{{ group_post.username }}</h3>
          <small>วันที่ : {{ calculation_time(group_post.created_at) }}</small>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <p>
        {{ group_post.content }}
      </p>
      <img
        style="max-height: 400px; object-fit: cover; width: 100%"
        class="img-fluid rounded"
        [src]="group_post.media"
        alt=""
      />
    </div>
    <div
      class="d-flex align-items-center justify-content-between mt-3 pt-2 border-top"
    >
      <!-- Left side: Like + Comment -->
      <div class="d-flex align-items-center gap-3">
        <!-- Like -->
        <div
          class="d-flex align-items-center gap-1"
          style="cursor: pointer"
          (click)="onLike()"
        >
          <i class="bi bi-heart"></i>
          <span>{{ likesCount }} likes</span>
        </div>
      </div>

      <!-- Right side: Bookmark -->
      <div style="cursor: pointer">
        <i class="bi bi-bookmark"></i>
      </div>
    </div>
  </div>
  <!-- ส่วนคอมเมนต์ -->
  @for (item of comment; track $index) {
  <div class="d-flex align-items-start border rounded p-3 mb-3">
    <img
      [src]="item.user_profile_image_url"
      class="rounded-circle me-3"
      width="50"
      height="50"
      alt="user"
    />
    <div>
      <h6 class="mb-1 fw-bold">
        {{ item.username }}
        <small class="text-muted"
          >· {{ calculation_time(item.created_at) }}</small
        >
      </h6>
      <p class="mb-0">
        {{ item.content }}
      </p>
    </div>
  </div>
  }

  <!-- ช่องพิมพ์คอมเมนต์ -->
  <div
    [formGroup]="commentForm"
    class="d-flex align-items-center border rounded p-2"
  >
    <img
      src="https://via.placeholder.com/40"
      class="rounded-circle me-2"
      width="40"
      height="40"
      alt="you"
    />

    <input
      type="text"
      class="form-control me-2"
      placeholder="Write a comment..."
      formControlName="comment"
    />
    <!-- ✅ ปุ่ม icon จรวด -->
    <button
      (click)="create_comment()"
      class="btn btn-primary d-flex align-items-center justify-content-center"
    >
      <i class="bi bi-send"></i>
    </button>
  </div>
</div>
