<div class="d-flex flex-column rounded shadow-sm p-3 bg-white">

    <!-- Row: avatar + name left, icon right -->
    <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex align-items-center gap-2">
            <img 
                class="rounded-circle img-fluid"
                width="50" height="50"
                src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=80&h=80&fit=crop&crop=face" 
                alt="">
            <div>
                <h3 class="mb-0">Karanpong Kotchakaew</h3>
                <small>47 minutes ago</small>
            </div>
        </div>
        <i class="bi bi-list fs-4" style="cursor: pointer;"></i>
    </div>
    <div class="mb-3">
        <p>Just had an amazing day at the beach! The sun, the sand, and the waves were perfect. Can't wait to go back!</p>
        <img 
            style=" max-height: 400px; object-fit: cover; width: 100%;"
            class="img-fluid rounded "
            src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?w=800&h=400&fit=crop" 
            alt="">
    </div>
    <div class="d-flex align-items-center gap-3">
        <i class="bi bi-heart-fill fs-4" style="cursor: pointer;">like</i>
        <i class="bi bi-chat-fill fs-4" style="cursor: pointer;"></i>
        <i class="bi bi-share-fill fs-4" style="cursor: pointer;"></i>
    </div>
</div>
