.container  {
  margin: 10px;
  background-color: #ffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
.container .user-post{
    margin: 0;
}
