.sidebar-card {
  border-radius: 14px;
  background: #ffffff;
  padding: 15px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #eef2f5;

  /* เพิ่มระยะห่างจากด้านบน */
  margin-top: 1rem; /* เท่ากับ mt-3 ใน Bootstrap */
}

.sidebar-item {
  padding: 10px 12px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  margin-bottom: 5px;
}

.sidebar-item:hover {
  background-color: #f7fbff;
  transform: translateX(3px);
}

.sidebar-item i {
  min-width: 24px;
  text-align: center;
}

.sidebar-item a {
  font-weight: 500;
  color: #333;
}

.sidebar-item.active {
  background-color: #d7ebff;
  font-weight: 600;
  color: #007bff;
}

.sidebar-item:last-child {
  margin-bottom: 0;
}
