<div class="d-flex flex-column p-3 gap-3">
  <!-- Create Post -->
  <app-create-post></app-create-post>

  <!-- Follow Button -->
  <app-follow-btn
    [choice1]="'Group Requests'"
    [choice2]="'Groups'"
  ></app-follow-btn>

  <!-- Group Card -->
  <div
    class="d-flex flex-row bg-white rounded shadow-sm mb-3 p-3 align-items-center gap-3"
  >
    <img
      class="rounded"
      style="width: 100px; height: 100px; object-fit: cover"
      src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
      alt="img-cover"
    />
    <div class="d-flex flex-column flex-grow-1">
      <h5 class="mb-1 fw-bold">Group Name</h5>
      <p class="text-muted mb-2">Public · 30 members</p>
      <button class="btn btn-primary btn-sm w-100">View Group</button>
    </div>
  </div>
</div>
