<div class="d-flex flex-column shadow-sm rounded m-3 bg-white">
  <ol class="list-unstyled p-3 gap-2 d-flex flex-column">
    <li
      class="d-flex align-items-center gap-2 sidebar-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-house-door fs-5"></i>
      <a [routerLink]="['/workspace/home']" class="nav-link">Home</a>
    </li>

    <li
      class="d-flex align-items-center gap-2 sidebar-item"
      routerLinkActive="active"
    >
      <i class="bi bi-people fs-5"></i>
      <a [routerLink]="['/workspace/group']" class="nav-link">Groups</a>
    </li>

    <li
      class="d-flex align-items-center gap-2 sidebar-item"
      routerLinkActive="active"
    >
      <i class="bi bi-chat-dots fs-5"></i>
      <a [routerLink]="['/workspace/message']" class="nav-link">Message</a>
    </li>

    <li
      class="d-flex align-items-center gap-2 sidebar-item"
      routerLinkActive="active"
    >
      <i class="bi bi-bookmark-check fs-5"></i>
      <a [routerLink]="['/workspace/Bookmark']" class="nav-link">Bookmarks</a>
    </li>

    <li
      class="d-flex align-items-center gap-2 sidebar-item"
      routerLinkActive="active"
    >
      <i class="bi bi-person-plus fs-5"></i>
      <a [routerLink]="['/workspace/Friends']" class="nav-link">Friends</a>
    </li>
  </ol>
</div>
