<app-topbar class="flex-grow-1"></app-topbar>

<div *ngIf="loading" class="loading-overlay">
  <div class="loader"></div>
  Loading...
</div>

<div
  *ngIf="!loading"
  class="d-flex flex-column flex-lg-row"
  style="min-height: 100vh; background-color: #f0f2f5; overflow: hidden"
>
  <!-- Your existing layout -->
  <!-- Left Sidebar -->
  <div
    class="col-12 col-lg-3 col-md-12 order-0"
    style="position: sticky; top: 0; height: 100vh"
  >
    <app-sidebar-left></app-sidebar-left>
  </div>

  <!-- Main Content -->
  <div
    class="col-12 col-lg-6 col-md-12 order-1 main-content"
    style="
      overflow-y: auto;
      max-height: 100vh;
      -webkit-overflow-scrolling: touch;
    "
  >
    <router-outlet></router-outlet>
  </div>

  <!-- Right Sidebar -->
  <div
    class="col-12 col-lg-3 col-md-12 order-2"
    style="position: sticky; top: 0; height: 100vh"
  >
    <app-sidebar-right></app-sidebar-right>
  </div>
</div>
