<div class="d-flex flex-column shadow-sm rounded m-3 bg-white travel-card">
  <ol class="list-unstyled p-3 gap-3 d-flex flex-column">
    <h4 class="d-flex align-items-center gap-2 title">
      <i class="bi bi-airplane-fill text-primary"></i>
      Recommended Travelers
    </h4>

    <div
      class="d-flex justify-content-between align-items-center gap-2 traveler-item"
    >
      <div class="d-flex align-items-center gap-2">
        <img
          class="rounded-circle img-fluid traveler-img"
          width="40"
          height="40"
          src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=80&h=80&fit=crop&crop=face"
          alt="User Avatar"
        />

        <div class="d-flex flex-column">
          John Doe
          <small class="text-muted">johndoe</small>
        </div>
      </div>

      <button class="btn btn-sm btn-travel-follow">Follow</button>
    </div>
  </ol>
</div>
