<div class="container">
  <h3 class="title">Who to follow</h3>
  <ul class="user-list">
    <li class="user-item">
      <div class="user-info">
        <img src="https://i.pravatar.cc/40?img=1" alt="avatar">
        <div class="user-details">
          <div class="username">Naphatsawan</div>
          <div class="user-handle">#npswmn</div>
        </div>
      </div>
      <button class="follow-btn">Follow</button>
    </li>

    <li class="user-item">
      <div class="user-info">
        <img src="https://i.pravatar.cc/40?img=2" alt="avatar">
        <div class="user-details">
          <div class="username">Thachpol</div>
          <div class="user-handle">#tcpnp</div>
        </div>
      </div>
      <button class="follow-btn">Follow</button>
    </li>

    <li class="user-item">
      <div class="user-info">
        <img src="https://i.pravatar.cc/40?img=3" alt="avatar">
        <div class="user-details">
          <div class="username">ppwntw</div>
          <div class="user-handle">#pipiwntw</div>
        </div>
      </div>
      <button class="follow-btn">Follow</button>
    </li>
  </ul>
</div>
