<div class="container">
    <div class="user-profile">
        <div class="img-profile">
            <img src="https://i.pravatar.cc/220?img=2" alt="avatar">
        </div>

        <div class="user-info">
            <div class="info-text">
                <h1>Phraewphan Wannatawee</h1>
                <p class="tag">ppwntw</p>
                <p class="stats">Posts: 5 &nbsp;&bull;&nbsp; Followers: 12</p>
                <hr>
                <p class="bio">Every journey tells a story, every step holds meaning.</p>
            </div>
            <button class="edit-btn">Edit Profile</button>
        </div>
    </div>
</div>

<div class="container h2">
    <h2 class="user-post">Phraewphan Wannatawee ‘s posts</h2>
</div>

<div class="post-card">
    <div class="poster-detail">
        <div class="poster-user">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=80&h=80&fit=crop&crop=face" alt="User Avatar">
            <div class="poster-name">
                <h3>Phraewphan Wannatawee</h3>
                <h5>47 minutes ago</h5>
            </div>
        </div>
        <i class="fas fa-ellipsis-h more-icon"></i>
    </div>

    <div class="content">
        <h4 class="post-text">
            สุดสัปดาห์ที่เกาะกูด<br>
            ทริปเกาะกูด 3 วัน 2 คืน เป็นเกาะสำหรับพักผ่อน ไม่วุ่นวาย คนไม่เยอะ<br>
            ปักหมุดที่พัก xxxxxxxxxx 2490.- มีอาหารเช้า ที่พักดี พนักงานบริการดี<br>
            บรรยากาศดีมากกกกก
        </h4>
        <img class="post-image" src="https://www.chillpainai.com/src/wewakeup/scoop/images/56b8dded36353e49b2c246608bf3ebc06eb6d8a6.jpg" alt="Post Image">

        <div class="post-actions">
            <div class="left-actions">
                <i class="fas fa-heart"></i> <span>Like</span>
                <i class="fas fa-comment"></i> <span>Comments</span>
            </div>
            <div class="right-actions">
                <i class="fas fa-bookmark"></i> <span>Bookmarks</span>
            </div>
        </div>
    </div>
</div>

