<div class="d-flex flex-column p-3">
  <div class="d-flex flex-column bg-white rounded shadow-sm mb-3">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <img
        class="rounded-circle img-fluid p-3"
        src="https://i.pravatar.cc/220?img=2"
        alt="avatar"
      />
    </div>
    <div class="p-3">
      <div class="d-flex align-items-center justify-content-between">
        <!-- ข้อมูลโปรไฟล์ -->
        <div>
          <h2 class="mb-0">Phraewphan Wannatawee</h2>
          <p class="text-muted mb-1">#ppwntw</p>
          <p class="text-muted mb-2">Member since Jul 7, 2024</p>

          <div class="d-flex gap-3 text-muted mb-2">
            <div>Posts: 5</div>
            <div>Followers: 12</div>
          </div>
        </div>

        <!-- ปุ่มแก้ไขโปรไฟล์ -->
        <button
          class="btn btn-outline-primary btn-sm"
          (click)="openEditProfile()"
        >
          Edit Profile
        </button>
      </div>

      <hr />

      <!-- Bio -->
      <div>
        <p class="mb-0 fst-italic text-muted">
          "Every journey tells a story, every step holds meaning."
        </p>
      </div>
    </div>
  </div>
  <app-post></app-post>
</div>
