<div class="d-flex flex-column p-3">
  <div class="d-flex flex-column bg-white rounded shadow-sm mb-3">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <img
        class="rounded-circle mt-3"
        [src]="user_data.image_url || 'assets/default-avatar.png'"
        alt="avatar"
        width="300"
        height="300"
        style="object-fit: cover"
      />
    </div>
    <div class="p-3">
      <div class="d-flex align-items-center justify-content-between">
        <!-- ข้อมูลโปรไฟล์ -->
        <div>
          <h2 class="mb-0">{{ user_data.username }}</h2>
          <p class="text-muted mb-2">
            Member since {{ formatToThaiMonthDay(user_data.date_joined) }}
          </p>

          <div class="d-flex gap-3 text-muted mb-2">
            <div>Posts: {{ user_data.post_count }}</div>
            <div>Followers: {{ user_data.friend_count }}</div>
          </div>
        </div>

        <!-- ปุ่มแก้ไขโปรไฟล์ -->
        <button
          class="btn btn-outline-primary btn-sm"
          (click)="openEditProfile()"
        >
          Edit Profile
        </button>
      </div>

      <hr />

      <!-- Bio -->
      <div>
        <p class="mb-0 fst-italic text-muted">
          {{ user_data.bio }}
        </p>
      </div>
    </div>
  </div>
  <ng-container *ngFor="let post of user_post">
    <app-user-post
      [group_post]="post"
      type="user"
      (postUpdated)="handlePostUpdated($event)"
    ></app-user-post>
  </ng-container>
</div>
