<div class="container mt-4">
  <div class="d-flex flex-column rounded shadow-sm p-3 bg-white mt-3">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <div class="d-flex align-items-center gap-2">
        <img
          class="rounded-circle img-fluid"
          width="50"
          height="50"
          src="{{ post.profile_image_url }}"
          alt="profile-img"
        />
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary position-absolute top-0 end-0 m-2"
          (click)="CancleCreateGroup()"
          title="Close"
        >
          ✖
        </button>
        <div>
          <h3 class="mb-0">{{ post.username }}</h3>
          <small>วันที่ : {{ calculation_time(post.created_at) }}</small>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <p>
        {{ post.content }}
      </p>
      <img
        style="max-height: 400px; object-fit: cover; width: 100%"
        class="img-fluid rounded"
        [src]="post.media_url"
        alt=""
      />
    </div>
    <div
      class="d-flex align-items-center justify-content-between mt-3 pt-2 border-top"
    >
      <div class="d-flex align-items-center gap-3"></div>
    </div>
  </div>
  @for (item of post.comments; track $index) {
  <div class="d-flex align-items-start border rounded p-3 mb-3">
    <img
      [src]="item.profile_image_url"
      class="rounded-circle me-3"
      width="50"
      height="50"
      alt="user"
    />
    <div>
      <h6 class="mb-1 fw-bold">
        {{ item.username }}
        <small class="text-muted"
          >· {{ calculation_time(item.created_at) }}</small
        >
      </h6>
      <p class="mb-0">
        {{ item.content }}
      </p>
    </div>
  </div>
  }
</div>
