.spinner-border {
  width: 3rem;
  height: 3rem;
}

input:focus {
  outline: none;
  box-shadow: none;
  background-color: #f9f9f9;
}

.btn-primary {
  background-color: #4c9ed9;
  border: none;
}

.btn-primary:hover {
  background-color: #3a8cc2;
}
