@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

// regular style toast
@import "ngx-toastr/toastr";
/* ตั้งฟอนต์ทั้งหน้า */
html,
body {
  font-family: "Inter", "Poppins", sans-serif;
  overflow: hidden !important;
  height: 100vh !important;
  position: fixed !important;
  width: 100% !important;
}
